* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(4, 3, 100);
    background: linear-gradient(180deg, rgba(4, 3, 100, 1) 0%, rgba(147, 2, 100, 1) 70%);

    height: 820px;
    width: 1683px;

}

.theBody{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameConsole{
    background-color: black;
    width: 500px;
    padding: 2%;
    border-radius: 5px;
    border: 2px dashed white;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.buttonsContainer {
    display: flex;
}

button{
    width: 100px;
    height: 40px;
    margin: 5%;
}

.labelScore {
    color: aliceblue;
    align-self: flex-start;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    height: 40px;
    gap: 160px;
}

.score {
    background-color: aliceblue;

    height: 40px;
    width: 60px;
    margin-bottom: 5px;
    margin-top: 5px;

    border-radius: 5px;
    color: black;

}

.gameResults{
    background-color: black;

    height: 50px;
    width: 300px;
    margin-top: 5px;

    border-style: dashed;
    border-color: aliceblue;
    border-radius: 3px;
    color: white;
}