* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(4, 3, 100);
    background: linear-gradient(180deg, rgba(4, 3, 100, 1) 0%, rgba(147, 2, 100, 1) 70%);

    height: 820px;
    width: 1683px;

}

.theBody{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameConsole{
    background-color: black;
    width: 500px;
    padding: 2%;
    border-radius: 5px;
    border: 2px dashed white;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.buttonsContainer {
    display: flex;
}

button{
    width: 100px;
    height: 40px;
    margin: 5%;
}

.results, .results p {
    color: aliceblue;
    align-self: flex-start;
    margin-left: 50px;
}

.gameResults{
    background-color: aliceblue;
    height: 50px;
    width: 300px;
    border-radius: 3px;
}